.eventDesc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.eventInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eventTitle {
  font-size: 1rem;
}
